pygments==2.7
jinja2<3.0
markupsafe<2.0
sphinx-gallery
sphinx-rtd-theme
numpydoc
pillow
numpy
pandas
scikit-learn
gurobipy
matplotlib
myst_parser
sphinx-prompt
sphinx-copybutton
sphinx-toggleprompt
furo
nbsphinx
ipykernel
myst-parser
git+https://github.com/D3M-Research-Group/odtlearn.git#egg=odtlearn
sphinx-math-dollar