Pygments==2.16.1
jinja2==3.1.2
markupsafe==2.1.1
nbconvert==6.5.3
ipython-genutils==0.2.0
nbsphinx==0.9.3
sphinx-copybutton==0.5.2
sphinx-gallery==0.14.0
sphinx-math-dollar==1.2.1
sphinx-prompt==1.7.0
numpydoc==1.6.0
pillow==9.2.0
numpy==1.23.1
pandas==1.5.3
scikit-learn==1.2.2
gurobipy==10.0.2
matplotlib==3.5.3
myst-parser==2.0.0
furo==2023.9.10
ipykernel==6.15.1
seaborn>=0.12.2
mip==1.15.0
sphinx-autoapi==3.0.0
lxml[html_clean]
git+https://github.com/D3M-Research-Group/odtlearn.git#egg=odtlearn