pygments==2.7
jinja2==2.11.3
markupsafe==1.1.1
nbconvert==6.4.3
ipython_genutils
nbsphinx==0.8.8
sphinx-copybutton==0.5.0
sphinx-gallery==0.10.1
sphinx-math-dollar==1.2.1
sphinx-prompt==1.5.0
sphinx-toggleprompt==0.0.5
sphinx-rtd-theme==1.0.0
numpydoc==1.2
Pillow==9.0.0
numpy==1.21.4
pandas==1.3.5
scikit-learn
gurobipy==9.5.0
matplotlib
myst-parser==0.17.2
furo==2022.3.4
ipykernel
git+https://github.com/D3M-Research-Group/odtlearn.git#egg=odtlearn